<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome to access demo server!</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <script type="text/javascript">
  function getAllContext() {
    var controls = document.getElementsByTagName('input');
	var arr = new Array();
    for(var i=0; i<controls.length; i++){
      //if(controls[i].type=='text')
       arr.push(controls[i].id + ":" + controls[i].value);
      //}
    }
	document.write(arr);
	return arr;
  }
  
  function setAllContext() {
	var arr = new Array("login_user_input:User Namexx","login_pass_input:","login_button:Login","logon_button:logon","t1b:T1_S","t2b:T2_S","t3b:T3_S","t4b:T4_S","t5b:T5_S");
    alert(arr.length);
	for(var i=0; i<arr.length; i++){
	  var strings = arr[i].split(":");
	  var id = strings[0];
	  var value = strings[1];
	  alert(arr[i]+" > id :"+id+" value:"+value);
      var txt = document.getElementById(id);
	  alert(txt);
	  txt.value = value
    }
  }
  
  function resetAllContext(arr) {
    alert(arr.length);
	for(var i=0; i<arr.length; i++){
	  var strings = arr[i].split(":");
	  var id = strings[0];
	  var value = strings[1];
	  alert(arr[i]+" > id :"+id+" value:"+value);
      var txt = document.getElementById(id);
	  alert(txt);
	  txt.value = value
    }
  }
  
  function submit() {
    var controls = document.getElementsByTagName('input');
	var arr = new Array();
    for(var i=0; i<controls.length; i++){
      //if(controls[i].type=='text')
       arr.push(controls[i].id + ":" + controls[i].value+"<br/>");
      //}
    }
    document.write("Submit called ! <br/>"+arr.toString());
  }
  
</script>

  <body>
	<form action="/login" method="POST">
	  <div>
	    <div>
	      <pre>
（一）用户基本资料

手机号码 :  <input name="phone_num" type="text" id="phone_num" value="13800000130" size="15">

姓名 :     <input name="phone_num2" type="text" id="phone_num2" value="xxx" size="25">

考察地址:   <select name="company_type2" id="company_type2"><option>四川</option><option>重庆</option><option>北京</option><option>上海</option><option>天津</option></select><label for="textfield"></label>省<select name="company_type3" id="company_type3"><option>成都</option><option>重庆</option><option>北京</option><option>上海</option><option>天津</option></select>市<select name="company_type4" id="company_type4"><option>高新</option></select>区 <label for="textarea"></label><input name="textarea" type="text" id="textarea" value="天府二街">

考察时间:    2016年7月25日   23:30

企业类型 :  <label for="company_type"></label><label for="phone_num"></label><select name="company_type" id="company_type"><option>生产</option><option>贸易</option><option>服务</option><option>餐饮</option><option>其他</option></select>

法人：     <input name="textfield" type="text" id="textfield" value="yyy">
经营地址：　<select name="company_type5" id="company_type5"><option>四川</option><option>重庆</option><option>北京</option><option>上海</option><option>天津</option></select><label for="textfield"></label>省<select name="company_type6" id="company_type6"><option>成都</option><option>重庆</option><option>北京</option><option>上海</option><option>天津</option></select>市<select name="company_type6" id="company_type7"><option>高新</option></select>区<label for="textarea3"></label><input name="textarea3" type="text" id="textarea3" value="天府二街">

企业名称：　<input name="textfield2" type="text" id="textfield2" value="xxx 科技有限公司">  
地址核实：　  <input type="radio" name="radio" id="radio" value="radio"><label for="radio"></label>
贷款目的：  <input name="textarea2" type="text" id="textarea2" value="新业务拓展">

员工人数：  <label for="textfield3"></label><input name="textfield3" type="text" id="textfield3" value="15000">　人

工资发放：  <label for="textfield4"></label><input name="textfield4" type="text" id="textfield4" value="36500">　（单位万元）

主营业务：  <label for="textfield5"></label><input name="textfield5" type="text" id="textfield5" value="软件">

年销售额：　<label for="textfield6"></label><input name="textfield6" type="text" id="textfield6" value="1000000">　（单位万元） 
 
应收账款： <input name="textfield7" type="text" id="textfield7" value="20000000">　（单位万元） 

毛利润：   <input name="textfield8" type="text" id="textfield8" value="100000">　（单位万元）
 
净利润：   <input name="textfield9" type="text" id="textfield9" value="90000">　（单位万元）
 
经营年限： <input name="textfield10" type="text" id="textfield10" value="25">　（单位年）
 
从业年限： <input name="textfield11" type="text" id="textfield11" value="35">　（单位年）
 
场地面积： <input name="textfield12" type="text" id="textfield12" value="1500">　（单位平方米） </pre>
        </div>
      </div>
	</form>
  <blockquote type="cite">&nbsp;</blockquote>
	<table width="929" cellpadding="0" cellspacing="0">
	  <col width="72" span="13">
	  <tr>
	    <td colspan="10">（二）现场查看3</td>
      </tr>
	  <tr>
	    <td width="72">7.1</td>
	    <td width="147">企业实际经营地址与注册地址是否一致 </td>
	    <td colspan="3">　
	      <label for="textarea4">
	        <input type="radio" name="radio2" id="radio2" value="radio2">
	      </label></td>
	    <td rowspan="6" width="26">　</td>
	    <td width="42">7.7</td>
	    <td width="131">仓库、存货</td>
	    <td colspan="2">　
        <input type="submit" name="button7" id="button7" value="拍照"></td>
      </tr>
	  <tr>
	    <td width="72">7.2</td>
	    <td width="147">相关证照</td>
	    <td colspan="3">　
        <input type="submit" name="button" id="button" value="拍照"></td>
	    <td width="42">7.8</td>
	    <td width="131">办公环境</td>
	    <td colspan="2">　
        <input type="submit" name="button5" id="button5" value="拍照"></td>
      </tr>
	  <tr>
	    <td width="72">7.3</td>
	    <td width="147">租赁合同</td>
	    <td colspan="3">　
        <input type="submit" name="button2" id="button2" value="拍照"></td>
	    <td width="42">7.9</td>
	    <td width="131">生产环境</td>
	    <td colspan="2">　
        <input type="submit" name="button6" id="button6" value="拍照"></td>
      </tr>
	  <tr>
	    <td width="72">7.4</td>
	    <td width="147">购销合同</td>
	    <td colspan="3">　
        <input type="submit" name="button3" id="button3" value="拍照"></td>
	    <td width="42">7.10</td>
	    <td width="131">员工作业情况</td>
	    <td colspan="2">　
        <input type="submit" name="button9" id="button9" value="拍照"></td>
      </tr>
	  <tr>
	    <td width="72">7.5</td>
	    <td width="147">进出货单</td>
	    <td colspan="3">　
        <input type="submit" name="button4" id="button4" value="拍照"></td>
	    <td width="42">7.11</td>
	    <td width="131">周边情况</td>
	    <td colspan="2">　
        <input type="submit" name="button10" id="button10" value="拍照"></td>
      </tr>
	  <tr>
	    <td width="72">7.6</td>
	    <td width="147">近半年计薪情况</td>
	    <td colspan="3">　
	      <label for="textfield13"></label>
        <input type="text" name="textfield13" id="textfield13"></td>
	    <td width="42">7.12</td>
	    <td width="131">现场员工人数</td>
	    <td colspan="2">　
        <input type="text" name="textfield18" id="textfield18"></td>
      </tr>
	  <tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
      </tr>
	  <tr>
	    <td colspan="10">2、生意模式3</td>
      </tr>
	  <tr>
	    <td width="72">2.1</td>
	    <td width="147">主营业务描述</td>
	    <td colspan="3">　
        <input type="text" name="textfield14" id="textfield14"></td>
	    <td>　</td>
	    <td width="42">2.3</td>
	    <td width="131">前三大主营商品</td>
	    <td colspan="2"> 
        <input type="text" name="textfield19" id="textfield19"></td>
      </tr>
	  <tr>
	    <td rowspan="5" width="72">2.2</td>
	    <td rowspan="5" width="147">前三大供应商</td>
	    <td width="61">名称：</td>
	    <td width="168">　
        <input type="text" name="textfield15" id="textfield15"></td>
	    <td width="11">　</td>
	    <td>　</td>
	    <td rowspan="5" width="42">2.4</td>
	    <td rowspan="5" width="131">前三大下游公司</td>
	    <td width="73">名称：</td>
	    <td width="245"> 
        <input type="text" name="textfield20" id="textfield20"></td>
      </tr>
	  <tr>
	    <td rowspan="3" width="61">结款方式：</td>
	    <td rowspan="3" width="168"> 
        <input type="text" name="textfield16" id="textfield16"></td>
	    <td rowspan="3" width="11">　</td>
	    <td>　</td>
	    <td rowspan="3" width="73">结款方式：</td>
	    <td rowspan="3" width="245"> 
        <input type="text" name="textfield21" id="textfield21"></td>
      </tr>
	  <tr>
	    <td>　</td>
      </tr>
	  <tr>
	    <td>　</td>
      </tr>
	  <tr>
	    <td>账期：</td>
	    <td width="168">　
        <input type="text" name="textfield17" id="textfield17"></td>
	    <td width="11">　</td>
	    <td>　</td>
	    <td>账期：</td>
	    <td width="245"> 
        <input type="text" name="textfield22" id="textfield22"></td>
      </tr>
  </table>
	<p>&nbsp;</p>
  </body>
</html>
